# Virtual environments
venv/
env/
ENV/
.venv
.venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Environment variables
.envmodule_2/llm_hosting
module_2/models/*.gguf

dependency.svg
snyk-analysis.png
*.egg-info/