{% extends "base.html" %}

{% block title %}Contact - My Portfolio{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Contact Information</h1>
    
    <div class="contact-info">
        <div class="contact-item">
            <h3>Email</h3>
            <p><a href="mailto:jvilleg7@jh.edu">jvilleg7@jh.edu</a></p>
        </div>
        
        <div class="contact-item">
            <h3>LinkedIn</h3>
            <p><a href="https://www.linkedin.com/in/joliverv" target="_blank">linkedin.com/in/joliverv</a></p>
        </div>
    </div>
</div>
{% endblock %}