# Runtime
Flask>=3.0.0
psycopg[binary]>=3.1.18
python-dotenv>=1.0.1

# Testing
pytest>=8.0.0
pytest-cov>=5.0.0

# Tooling required by assignment
pylint>=3.0.0
pydeps>=1.12.20

# Module_4
beautifulsoup4
sphinx
sphinx-rtd-theme
